.header.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.box-shadow
    h5.my-0.mr-md-auto.font-weight-normal Company name
    nav.my-2.my-md-0.mr-md-3
        a.p-2(href='#') Features
        a.p-2(href='#') Enterprise
        a.p-2(href='#') Support
        a.p-2(href='#') Pricing
    a.btn.btn-outline-primary(href='#') Sign up