<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Иосиф Бродский</title>
</head>
<body >
<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">Иосиф Бродский</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="biography.html" class="p-2">Биография</a>
        <a href="poems.html" class="p-2">Произведения</a>
        <a href="list_jb.html" class="p-2">Список Бродского</a>
        <a href="subscription.html">Рассылка</a>
    </nav>
</div>
<div class="about-page-section about-page-section--biography">
    <div class="col-md-5 mx-auto text-center">
        <h1 class="about-page-section__title">Биография</h1>
        <a href="#section" class="btn btn-outline-light about-page-section__button" >Узнать больше</a>
    </div>
</div>

<div class="container" id="section">
    <div class="row">
        ИОСИФ АЛЕКСАНДРОВИЧ БРОДСКИЙ (1940–1996), поэт, переводчик, прозаик, драматург.
    </div>
    <div>
        <p> Бродский родился 24 мая 1940 в Ленинграде.
            <img src='img/parents.jpg'  class="img_r img_b">
        Отец, капитан ВМФ СССР Александр Иванович Бродский (1903—1984), был военным фотокорреспондентом.
        Мать, Мария Моисеевна Вольперт (1905—1983), работала бухгалтером.
        </p>
        <p>Уже с ранних лет в жизни Бродского многое символично.
        Детство прошло в маленькой квартире в том самом «питерском» доме, где до революции жили Д.С.Мережковский и З.Н.Гиппиус и откуда они отправились в эмиграцию.
        В школе, которую посещал Бродский, некогда учился Альфред Нобель: в 1986 Бродский станет Нобелевским лауреатом.
        О детстве он вспоминал неохотно: «Обычное детство. Я не думаю, что детские впечатления играют важную роль в дальнейшем развитии».
        В отрочестве проявились его самостоятельность и строптивость.
        </p>
        <p>В 1955, не доучившись, Бродский поступает работать на военный завод фрезеровщиком, выбрав для себя самообразование, главным образом, чтение.
        Пожелав стать хирургом, идет работать помощником прозектора в морге госпиталя при ленинградской тюрьме «Кресты», где помогает анатомировать трупы.
        За несколько лет он опробовал больше десятка профессий: техника-геофизика, санитара, кочегара, фотографа и т.д.
        Ищет работу, которую можно совмещать с творчеством. Писать стихи впервые попробовал в 16 лет.
        Подтолкнуло писать впечатление от чтения сборника Бориса Слуцкого.
        Первое стихотворение было опубликовано, когда Бродскому было семнадцать лет, в 1957:
        </p>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Прощай,</p>
                <p class="mb-0">позабудь</p>
                <p class="mb-0">и не обессудь.</p>
                <p class="mb-0">А письма сожги,</p>
                <p class="mb-0">как мост.</p>
                <p class="mb-0">Да будет мужественным</p>
                <p class="mb-0">твой путь,</p>
                <p class="mb-0">да будет он прям</p>
                <p class="mb-0">и прост...</p>
            </blockquote>
        <p>На рубеже 1950–1960-х изучает иностранные языки (английский и польский), посещает лекции на филологическом факультете ЛГУ.
        В 1959 знакомится со сборником стихотворений Е.А.Баратынского, после чего окончательно укрепляется в желании стать поэтом:
        «Читать мне было нечего, и когда я нашел эту книжку и прочел ее, тут-то я все понял, чем надо заниматься…».
            <img src='img/jb.jpg' class="img_l img_b">
        Читательские впечатления Бродского этой поры бессистемны, но плодотворны для развития поэтического голоса.
        Первые стихи Бродского, по его собственному призванию, возникли «из небытия»: «Мы пришли в литературу Бог знает откуда, практически лишь из факта своего существования, из недр».
        Восстановление культурной преемственности для поколения Бродского подразумевало прежде всего обращение к русской поэзии Серебряного века.
        Однако и здесь Бродский стоит особняком.
        По собственному признанию, Пастернака он не «понимал» до 24 лет, до той же поры не читал Мандельштама, почти не знал (до личного знакомства) лирики Ахматовой.
        Безусловной ценностью обладало для Бродского – с первых самостоятельных шагов в литературе и до конца жизненного пути – творчество М.Цветаевой.
        Бродский больше отождествляет себя с поэтами начала 19 в.
        В Стансах городу (1962) соотносит свою судьбу с судьбой Лермонтова.
        Но и здесь сказывается характерная черта поэта: боязнь быть на какого-то похожим, растворить свою индивидуальность в чужих смыслах.
        Бродский демонстративно предпочитает лирику Е.Баратынского, К.Батюшкова и П.Вяземского пушкинским традициям.
        В поэме 1961 Шествие пушкинские мотивы поданы сознательно отчужденно, отстраненно, и помещенные автором в чужеродный контекст, они начинают звучать откровенно иронично.
        Творческие предпочтения Бродского были обусловлены не только желанием избегать банальности.
        Аристократичная уравновешенность «просветленной» пушкинской музы была менее близка Бродскому, чем традиция русской философской поэзии.
        Бродский воспринял медитативную интонацию, склонность к поэтике размышления, драматизм мысли.
        Постепенно он уходит далее в прошлое поэзии, активно впитывая наследие 18 в., – Ломоносова, Державина, Дмитриева.
            <img src="img/literature-joseph.jpg" class="img_r img_v">
        Освоение допушкинских пластов русской словесности позволяет ему увидеть огромные области поэтического языка.
        Бродский осознал необходимость синтеза преемственности и выявления новых выразительных возможностей русского классического стиха.
        </p>

        <p>С начала 1960-х начинает работать как профессиональный переводчик по договору с рядом издательств.
        Тогда же знакомится с поэзией английского поэта-метафизика Джона Донна, которому посвятил Большую элегию Джону Донну (1963).
        Переводы Бродского из Донна часто неточны и не очень удачны.
        Но оригинальное творчество Бродского стало уникальным опытом приобщения русского слова к доселе чуждому ему опыту барочной европейской поэзии «метафизической школы».
        </p>
        <p>Лирика Бродского впитает основные принципы «метафизического» мышления: отказ от культа переживаний лирического «я» в поэзии, «суховатая» мужественная интеллектуальность, драматичная и личная ситуация лирического монолога, часто – с напряженным ощущением собеседника, разговорность тона, использования «непоэтической» лексики (просторечья, вульгаризмов, научных, технических понятий), построение текста как череды доказательств в пользу какого-то утверждения.
        Наследует Бродский у Донна и других поэтов-метафизиков и «визитную карточку» школы – т.н. «кончетти».
        И поэты английского барокко в 17 в., и Бродский в 20 в. использовали такие метафоры, чтобы восстановить разрушенные связи в мире, который кажется им трагически распавшимся.
        Такие метафоры – в основе большинства произведений Бродского.
        Метафизические полеты и метафорические изыски у Бродского соседствовали с боязнью высоких слов, ощущением нередкого в них безвкусия.
        Отсюда его стремление уравновешивать поэтическое прозаическим, «занижать» высокие образы, или, как выражался сам поэт – «нацеленность на „нисходящую метафору"».
        Показательно, как описывает Бродский свои первые религиозные переживания, связанные с чтением Библии:
        </p>
            <p>«в возрасте лет 24-х или 23-х, уже не помню точно, я впервые прочитал Ветхий и Новый Завет.
        И это на меня произвело, может быть, самое сильное впечатление в жизни. Т.е. метафизические горизонты иудаизма и христианства произвели довольно сильное впечатление.
        Библию трудно было достать в те годы – я сначала прочитал Бхагавад-гиту, Махабхарату, и уже после мне попалась в руки Библия.
        Разумеется, я понял, что метафизические горизонты, предлагаемые христианством, менее значительны, чем те, которые предлагаются индуизмом.
        Но я совершил свой выбор в сторону идеалов христианства, если угодно... Я бы, надо сказать, почаще употреблял выражение иудео-христианство, потому что одно немыслимо без другого.
        И, в общем-то, это примерно та сфера или те параметры, которыми определяется моя, если не обязательно интеллектуальная, то, по крайней мере, какая-то душевная деятельность».
            </p>
        <p>Отныне почти каждый год поэт создавал в канун либо в самый день праздника стихи о Рождестве.
        Его «Рождественские стихи» сложились в некий цикл, работа над которым шла более четверти века.
        В начале 1960-х круг общения Бродского очень широк, но ближе всего он сходится с такими же юными поэтами, студентами Технологического института Е.Рейном, А.Найманом и Д.Бобышевым.
        Рейн познакомил Бродского с Анной Ахматовой, которого поэтесса одарила дружбой и предсказала ему блестящее поэтическое будущее.
        Она навсегда осталась для Бродского нравственным эталоном (ей посвящены стихотворения 1960-х Утренняя почта для А.А.Ахматовой из г.Сестрорецка, Закричат и захлопочут петухи..., Сретенье, 1972, На столетие Анны Ахматовой, 1989 и эссе Муза плача, 1982).
        </p>
        <img src="img/jb2.jpg" class="img_l img_m">
        <p>Уже к 1963 его творчество становится более известным, стихи Бродского начинают активно ходить в рукописях.
        Несмотря на отсутствие весомых публикаций, у Бродского была скандальная для того времени и известность поэта «самиздата».
        29 ноября 1963 в газете «Вечерний Ленинград» за подписью А.Ионина, Я.Лернера, М.Медведева был опубликовано письмо против Бродского Окололитературный трутень.
        В 1964 он был арестован. После первого закрытого судебного разбирательства поэт был помещен в судебную психбольницу, где пробыл три недели, но был признан психически здоровым и трудоспособным.
        Второй, открытый, суд по делу Бродского, обвиненному в тунеядстве состоялся 13 марта 1964.
        Решение суда – высылка на 5 лет с обязательным привлечением к физическому труду.
            Ссылку он отбывал в <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal2">деревне Норинской Архангельской области.</button>
        Свободного времени было достаточно, и оно целиком заполняется творчеством.
        Здесь он создал наиболее значительные произведения доэмигрантского периода: Одной поэтессе, Два часа в резервуаре, Новые стансы к Августе, Северная почта, Письмо в бутылке и др.
        Бродский был досрочно освобожден.
        Вместо пяти, он провел в ссылке полтора года и затем получил разрешение вернуться в Ленинград.
        «Какую биографию делают нашему рыжему!» – воскликнула А.Ахматова в разгар кампании против Бродского, предчувствуя, какую услугу окажут ему его гонители, наделив его мученическим ореолом.
        </p>
        <p>В 1965, на волне возмущений гонениями на поэта, в Нью-Йорке вышла первая книга Бродского – Стихотворения и поэмы.
        В его творчестве этих лет экспериментаторство на основе классической традиции дает все более интересные результаты.
        Так, в 1966 опыты с силлабическим стихом 18 в. облеклись в плотные по манере письма Подражание сатирам, сочиненным Кантемиром.
        Классическую для русской поэзии силлабо-тоническую систему стихосложения Бродский трансформирует с двух сторон: не только через обращение к былому опыту двухсотлетней давности, но и посредством ультрасовременных по технике упражнений на стыке белого стиха и ритмической прозы – к примеру, Остановка в пустыне (1966), давшая позднее название поэтическому сборнику, вышедшему в 1972 в США.
        Основным жанром в творчестве Бродского становится легко узнаваемая длинная элегия, своего рода полупоэма – афористичная, меланхоличная, иронически рефлексивная, с ломким синтаксисом, устремленным к обновлению устойчивого языка.
        Обновлять язык, подобно поэтам-футуристам, Бродский может и через эксперименты со строфикой и «наборной графикой» (т.е. обыгрывать «внешний вид» напечатанного текста и вызванные им ассоциации).
        Так, в стихотворении 1967 Фонтан благодаря особой строфике и распределению слов по пространству страницы напечатанный текст напоминает очертаниями многоярусный парковый фонтан.
        В доэмигрантский период творчества Бродского трагическая ирония неизменно оттеняется щедрым восприятием мира и эмоциональной открытостью.
        В дальнейшем пропорции между этими началами будут существенно меняться.
        Эмоциональная открытость уйдет, ее место займет готовность стоически принять трагичность бытия.
        </p>
        <p>В 1972 Бродский покидает СССР.
        Он уезжает по израильской визе, но оседает в США, где до конца своих дней преподает русскую литературу в различных университетах.
        Отныне Бродский, по собственному выражению, обречен на «фиктивную ситуацию» – поэтическое существование в иноязычной среде, где узкий круг русскоязычных читателей уравновешен международным признанием.
        Покидая Родину, Бродский пишет письмо генеральному секретарю ЦК КПСС Л.И.Брежневу: «Уважаемый Леонид Ильич, покидая Россию не по собственной воле, о чем Вам, может быть, известно, я решаюсь обратиться к Вам с просьбой, право на которую мне дает твердое сознание того, что все, что сделано мною за 15 лет литературной работы, служит и еще послужит только к славе русской культуры, ничему другому.
        Я хочу просить Вас дать возможность сохранить мое существование, мое присутствие в литературном процессе.
        Хотя бы в качестве переводчика – в том качестве, в котором я до сих пор и выступал».
        Однако его просьба осталась без ответа.
        Даже родителям Бродского не разрешили выехать к сыну по просьбе медиков (Бродский, как сердечник, нуждался в особом уходе).
            Не разрешили ему самому приехать в <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal4">Ленинград</button> на похороны матери (1983) и отца (1985).
        Это в значительной степени сказалось на его позднем нежелании посещать родной город в 1990-х.
        </p>
        <img src="img/port4.jpg" class="img_r img_m">
        <p>В США Бродский начал писать на английском.
        Англоязычное творчество его выразилось, в первую очередь, в жанре эссе (сборники Less than one (Меньше единицы), 1986, On grief and reason (О печали и разуме), 1995).
        В основном, эссеистика Бродского складывалась из статей, написанных по заказу в качестве предисловий к изданиям сочинений русских и западных классиков (А.Ахматова, М.Цветаева, У.Оден, К.Кавафис и т.д.).
        По своей инициативе, как он признавался, он написал только 2 или 3 статьи. В 1980 Бродский получил гражданство США.
        В 1977 в издательстве «Ardis» были опубликованы два сборника стихотворений Бродского Конец прекрасной эпохи.
        Стихотворения 1964–71 и Часть речи. Стихотворения 1972–76.
        В этих книгах запечатлелся новый этап творческой зрелости поэта. «Биография поэта – в покрое его языка».
        Этот постулат Бродского определяет эволюцию его лирики.
        К середине 1970-х лирика Бродского обогащается сложными синтаксическими конструкциями, постоянными т.н. «анжамбеманами».
        Современники свидетельствовали о неизменном желании поэта читать свои стихи вслух, даже когда обстановка к тому не располагала.
        Простых предложений у поэта почти нет.
        Бесконечные сложные предложения подразумевают бесконечное развитие мысли, ее испытание на истинность.
        Бродский-поэт ничего не принимает на веру.
        Каждое высказывание уточняет и «судит» себя.
        Отсюда неисчислимые «но», «хотя», «поэтому», «не столько... сколько» в его поэтическом языке.
        Опыт «зрелого» Бродского – это опыт глубинного переживания трагедии существования.
        Бродский часто нарушает грамматику, прибегает к сдвинутой, неправильной речи, передавая трагизм не только в предмете изображения, но прежде всего в языке.
        </p>
        <p>Покинутое Отечество постепенно возводится в поэтическом сознании Бродского в грандиозный сюрреалистический образ империи.
        Этот образ шире реального Советского Союза. Он становится глобальным символом заката мировой культуры.
        Отдавая ясный отчет в бессмысленности жизни (Мексиканский романсеро, 1976), лирический герой Бродского, подобно древним стоикам, пытается найти опору в равнодушных к человеку высших началах мироздания.
        Таким высшим началом, в общем-то замещающим собой Бога, выступает в поэзии Бродского Время.
        «Все мои стихи, более-менее, об одной и той же вещи: о Времени», – сказано поэтом в одном из интервью.
        Но в то же время в его поэтическом мироздании есть еще одна универсальная категория, которая в состоянии обуздать Время, победить его.
        Это Язык, Слово (Пятая годовщина, 1978).
        Процесс поэтического творчества становится единственной возможностью преодоления Времени, а значит – смерти, формой победы над смертью.
        Строки продлевают жизнь:
        </p>
            <blockquote class="blockquote text-center">
        <p class="mb-0">...не знаю я, в какую землю лягу.</p>
        <p class="mb-0">Скрипи, скрипи перо! Переводи бумагу</p>
        <footer class="blockquote-footer">Пятая годовщина<cite title="Source Title">1977</cite></footer>
        </blockquote>
        <p>Для Бродского «поэт – инструмент языка».
        Не поэт пользуется языком, а язык выражает себя через поэта, которому остается лишь верно настроить свой слух.
        Но в то же время этот инструмент спасителен, и до конца свободен.
        Оставаясь один на один с Языком и Временем, лирический герой Бродского теряет всякие эмоциональные связи с миром вещей, как бы покидает тело и поднимается на почти безвоздушную высоту (Осенний крик ястреба, 1975).
        Отсюда, впрочем, он продолжает с четкостью и равнодушием различать детали оставленного внизу мира.
        Многословие Бродского, его немыслимые длинноты обусловлены стремлением обуздать Языком Время.
        </p>
        <p>В 1978 Бродский становится почетным членом Американской Академии искусств, из которой он, однако, вышел в знак протеста против избрания почетным членом в Академию Евгения Евтушенко.
        В 1983 в «Ардисе» опубликован еще один сборник лирики Новые стансы к Августе. Стихи к М.Б., 1962–82;
        в 1984 выходит пьеса Бродского Мрамор.
        В 1986 сборник Less than one признан лучшей литературно-критической книгой года в США.
        В декабре 1987 он становится писателем-лауреатом Нобелевской премии по литературе – «за всеохватное авторство, исполненное ясности мысли и поэтической глубины», как было сказано в официальном постановлении Нобелевского комитета.
            <img src="img/jab.jpg" class="img_l img_b">
        Нобелевская премия принесла материальную независимость и новые хлопоты.
        Бродский много времени посвящает устройству в Америке многочисленных иммигрантов из России.
            С мая 1991 по май 1992 Бродский получает звание Поэта-Лауреата <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal3">Библиотеки Конгресса США.</button>
        </p>

        <p>С конца 1980-х творчество Бродского постепенно возвращается на Родину, однако сам он неизменно отклоняет предложения даже на время приехать в Россию.
        В то же время в эмиграции он активно поддерживает и пропагандирует русскую культуру.
        В 1995 Бродскому присвоено звание почетного гражданина Санкт-Петербурга.
        </p>
        <p>Иосиф Александрович Бродский скоропостижно скончался в ночь c 27 на 28 января 1996 года, не дожив 4 месяца до своего 56-летия. Причина смерти — внезапная остановка сердца вследствие инфаркта.
        1 февраля 1996 года   <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal1">в Епископальной приходской церкви Благодати в Бруклин Хайтс</button>, неподалёку от дома Бродского, прошло отпевание.
        Мемориальная служба состоялась 8 марта на Манхэттене в епископальном соборе Святого Иоанна Богослова. Речей не было. Стихи читали Чеслав Милош, Дерек Уолкотт, Шеймас Хини, Михаил Барышников, Лев Лосев, Энтони Хект, Марк Стрэнд, Розанна Уоррен, Евгений Рейн, Владимир Уфлянд, Томас Венцлова, Анатолий Найман, Яков Гордин, Мария Соццани-Бродская и другие. Звучала музыка Гайдна, Моцарта, Пёрселла.
        21 июня 1997 года на кладбище Сан-Микеле в Венеции состоялось перезахоронение тела Иосифа Бродского.на могиле поэта был установлен надгробный памятник работы художника Владимира Радунского[104].
        На обороте памятника выполнена надпись по латыни, — строка из элегии Проперция лат. Letum non omnia finit — Со смертью не всё кончается.
        </p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12099.796146911003!2d-74.00653297214616!3d40.69712003791303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a47df06b185%3A0xc889234bc07c42ee!2z0JHRgNGD0LrQu9C40L0g0KXQsNC50YLRgSwg0JHRgNGD0LrQu9C40L0sINCd0YzRji3QmdC-0YDQuiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1526415374075" width="498" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7754.038916716514!2d40.64050009890773!3d60.93089461596073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46a816571776c831%3A0x5c38bc8b1434a34e!2z0J3QvtGA0LjQvdGB0LrQsNGPLCDQkNGA0YXQsNC90LPQtdC70YzRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1526416173109" width="498" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.543361167604!2d-77.00690768523799!3d38.88868815506365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feef68ef83a4d%3A0x46cbb296f4de3eec!2z0JHQuNCx0LvQuNC-0YLQtdC60LAg0JrQvtC90LPRgNC10YHRgdCw!5e0!3m2!1sru!2sru!4v1526417208255" width="498" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255987.65208989035!2d30.044885429055878!3d59.91714833753931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LM!5e0!3m2!1sru!2sru!4v1526417359806" width="498" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
