doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
    body
        include ../includes/header

        .biography
            .col-md-5.mx-auto.text-center
                h1.display-4.font-weight-normal Биография
                a.btn.btn-outline-secondary(href='#') Читать подробнее
