<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="#" class="p-2">Features</a>
        <a href="#" class="p-2">Enterprise</a>
        <a href="#" class="p-2">Support</a>
        <a href="#" class="p-2">Pricing</a>
    </nav>
    <a href="#" class="btn btn-outline-primary">Sign up</a>
</div>
<div class="biography">
    <div class="col-md-5 mx-auto text-center">
        <h1 class="display-4 font-weight-normal">Биография</h1>
        <a href="#" class="btn btn-outline-secondary">Читать подробнее</a>
    </div>
</div>
</body>
</html>