<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Иосиф Бродский</title>
</head>
<body>
<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">Иосиф Бродский</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="biography.html" class="p-2">Биография</a>
        <a href="poems.html" class="p-2">Произведения</a>
        <a href="list_jb.html" class="p-2">Список Бродского</a>
    </nav>
    <button class="btn btn-outline-light header__contact-us" data-toggle="modal" data-target="#exampleModalCenter">
        Связаться с нами
    </button>
</div>
<div class="about-page-section about-page-section--list">
    <div class="col-md-5 mx-auto text-center">
        <h1 class="about-page-section__title">Список Бродского</h1>
        <a href="#section" class="btn btn-outline-light about-page-section__button">Узнать больше</a>
    </div>
</div>
<div class="container" id="section">
    <h2>Книги из списка, составленного в середине 70-х Иосифом Бродским для студентов американских колледжей.
        Это стоит прочесть "просто, чтобы с вами было о чем разговаривать".</h2>
    <div>
        <ol>
            <li>«Бхагавадгита»</li>
            <li>«Махабхарата»</li>
            <li>«Гильгамеш»</li>
            <li>Ветхий Завет</li>
            <li>Гомер. «Илиада», «Одиссея»</li>
            <li>Геродот. «История»</li>
            <li>Софокл. Пьесы</li>
            <li>Эсхил. Пьесы</li>
            <li>Еврипид. Пьесы «Ипполит», «Вакханки», «Электра», «Финикиянки»</li>
            <li>Фукидид. «История Пелопоннесской войны»</li>
            <li>Платон. «Диалоги»</li>
            <li>Аристотель. «Поэтика», «Физика», «Этика», «О душе»</li>
            <li>Александрийская поэзия</li>
            <li>Лукреций. «О природе вещей»</li>
            <li>Плутарх. «Жизнеописания»</li>
            <li>Вергилий. «Энеида», «Буколики», «Георгики»</li>
            <li>Тацит. «Анналы»</li>
            <li>Овидий. «Метаморфозы», «Героиды», «Наука любви»</li>
            <li>Новый Завет</li>
            <li>Светоний. «Жизнеописания двенадцати цезарей»</li>
            <li>Марк Аврелий</li>
            <li>Катулл</li>
            <li>Гораций</li>
            <li>Эпиктет</li>
            <li>Аристофан</li>
            <li>Элиан. «Пестрые истории», «О природе животных»</li>
            <li>Аполлодор. «Аргонавтика»</li>
            <li>Пселл. «Жизнеописание правителей Византии»</li>
            <li>Гиббон. «История упадка и разрушения Римской империи»</li>
            <li>Плотин. «Эннеады»</li>
            <li>Евсевий. «Церковная история»</li>
            <li>Боэций. «Об утешении философией»</li>
            <li>Плиний Младший. «Письма»</li>
            <li>Византийские стихотворные романы</li>
            <li>Гераклит. «Фрагменты»</li>
            <li>Августин. «Исповедь»</li>
            <li>Фома Аквинский. «Summa Theolo qica»</li>
            <li>Св. Франциск. «Цветочки»</li>
            <li>Никколо Макиавелли. «Государь»</li>
            <li>Данте. «Божественная комедия»</li>
            <li>Франко Сакети. Новеллы</li>
            <li>Исландские саги</li>
            <li>Шекспир. «Антоний и Клеопатра», «Гамлет», «Макбет», «Генрих V»</li>
            <li>Рабле</li>
            <li>Бэкон</li>
            <li>Мартин Лютер</li>
            <li>Кальвин</li>
            <li>Монтень. «Опыты»</li>
            <li>Сервантес. «Дон Кихот»</li>
            <li>Декарт</li>
            <li>«Песнь о Роланде»</li>
            <li>«Беовульф»</li>
            <li>Бенвенуто Челлини</li>
            <li>Генри Адамс. «Воспитание Генри Адамса»</li>
            <li>Гоббс. «Левиафан»</li>
            <li>Паскаль. «Мысли»</li>
            <li>Мильтон. «Потерянный рай»</li>
            <li>Джон Донн, Эндрю Марвелл, Джордж Херберт, Ричард Крошоу</li>
            <li>Спиноза. «Трактаты»</li>
            <li>Стендаль. «Пармская обитель», «Красное и черное», «Жизнь Анри Брюлара»</li>
            <li>Свифт. «Путешествие Гулливера»</li>
            <li>Лоренс Стерн. «Тристрам Шэнди»</li>
            <li>Шодерло де Лакло. «Опасные связи»</li>
            <li>Монтескье. «Персидские письма»</li>
            <li>Локк. «Второй трактат о правительстве»</li>
            <li>Адам Смит. «Благосостояние наций»</li>
            <li>Лейбниц</li>
            <li>Юм</li>
            <li>Тексты федералистов</li>
            <li>Кант. «Критика чистого разума»</li>
            <li>Кьеркегор. «Страх и трепет», «Или-или», «Философские фрагменты»</li>
            <li>Достоевский. «Записки из подполья», «Бесы»</li>
            <li>Гете. «Фауст», «Итальянское путешествие»</li>
            <li>Токвиль. «О демократии в Америке»</li>
            <li>Де Кюстин. «Путешествие наших дней (Империя царя)»</li>
            <li>Эрик Ауэрбах. «Мимезис»</li>
            <li>Прескотт. «Завоевание Мексики»</li>
            <li>Октавио Пас. «Лабиринты одиночества»</li>
            <li>Карл Поппер. «Логика научного открытия», «Открытое общество и его враги»</li>
            <li>Элиас Канетти. «Толпа и власть»</li>
        </ol>

    </div>

    <h3>Поэзия, рекомендованная к прочтению</h3>

    <div>
        <p><span class="italic">Английская/ американская:</span> Роберт Фрост, Томас Харди, Уильям Батлер Йейтс, Томас
            Стернз Элиот, Уистен Хью Оден, Марианна Мур, Элизабет Бишоп.</p>
        <p><span class="italic">Немецкая:</span> Райнер Мария Рильке, Георг Тракль, Петер Хухель, Ингеборг Бахман,
            Готфрид Бенн.</p>
        <p><span class="italic">Испанская:</span> Антонио Мачадо, Федерико Гарсиа Лорка, Луис Сернуда, Рафаэль Альберти,
            Хуан Рамон Хименес, Октавио Пас.</p>
        <p><span class="italic">Польская:</span> Леопольд Стафф, Чеслав Милош, Збигнев Херберт, Вислава Шимборска.</p>
        <p><span class="italic">Французская:</span> Гийом Аполлинер, Жюль Сюпервьель, Пьер Реверди, Блез Сандрар, Макс
            Жакоб, Франсис Жамм, Андре Френо, Поль Элюар, Виктор Сегален, Анри Мишо.</p>
        <p><span class="italic">Греческая:</span> Константин Кавафис, Йоргос Сеферис, Яннис Рицос.</p>
        <p><span class="italic">Голландская:</span> Мартинус Нейхоф («Аватар»).</p>
        <p><span class="italic">Португальская:</span> Фернандо Пессоа, Карлос Друммонд де Андрад.</p>
        <p><span class="italic">Шведская:</span> Гуннар Экелёф, Харри Мартинсон, Вернер Аспенстром, Тумас Транстрёмер.
        </p>
        <p><span class="italic">Русская:</span> Марина Цветаева, Осип Мандельштам, Анна Ахматова, Борис Пастернак,
            Владислав Ходасевич, Виктор Хлебников, Николай Клюев, Николай Заболоцкий.</p>
    </div>
</div>
</body>
</html>