<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Иосиф Бродский</title>
</head>
<body>
<header>

    <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">Иосиф Бродский</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a href="biography.html" class="p-2">Биография</a>
            <a href="poems.html" class="p-2">Произведения</a>
            <a href="list_jb.html" class="p-2">Список Бродского</a>
            <a href="subscription.html">Рассылка</a>
        </nav>
    </div>
</header>
<main>
    <div class="about-page-section about-page-section--list">
        <div class="col-md-5 mx-auto text-center">
            <h1 class="about-page-section__title">Список Бродского</h1>
            <a href="#section" class="btn btn-outline-light about-page-section__button">Узнать больше</a>
        </div>
    </div>
    <div class="container" id="section">
        <h2>Книги из списка, составленного в середине 70-х Иосифом Бродским для студентов американских колледжей.
            Это стоит прочесть "просто, чтобы с вами было о чем разговаривать".</h2>
        <div>
            <div class="container">
                <div class="row">
                    <div class="column">
                        <p>«Бхагавадгита»</p>
                        <p>«Махабхарата»</p>
                        <p>«Гильгамеш»</p>
                        <p>Ветхий Завет</p>
                        <p>Гомер. «Илиада», «Одиссея»</p>
                        <p>Геродот. «История»</p>
                        <p>Софокл. Пьесы</p>
                        <p>Эсхил. Пьесы</p>
                        <p>Еврипид. Пьесы «Ипполит», «Вакханки», «Электра», «Финикиянки»</p>
                        <p>Фукидид. «История Пелопоннесской войны»</p>
                        <p>Платон. «Диалоги»</p>
                        <p>Аристотель. «Поэтика», «Физика», «Этика», «О душе»</p>
                        <p>Александрийская поэзия</p>
                        <p>Лукреций. «О природе вещей»</p>
                        <p>Плутарх. «Жизнеописания»</p>
                        <p>Вергилий. «Энеида», «Буколики», «Георгики»</p>
                        <p>Тацит. «Анналы»</p>
                        <p>Овидий. «Метаморфозы», «Героиды», «Наука любви»</p>
                        <p>Новый Завет</p>
                        <p>Светоний. «Жизнеописания двенадцати цезарей»</p>
                        <p>Марк Аврелий</p>
                        <p>Катулл</p>
                        <p>Гораций</p>
                        <p>Эпиктет</p>
                        <p>Аристофан</p>
                        <p>Элиан. «Пестрые истории», «О природе животных»</p>
                        <p>Аполлодор. «Аргонавтика»</p>
                        <p>Пселл. «Жизнеописание правителей Византии»</p>
                        <p>Гиббон. «История упадка и разрушения Римской империи»</p>
                        <p>Плотин. «Эннеады»</p>
                        <p>Евсевий. «Церковная история»</p>
                        <p>Боэций. «Об утешении философией»</p>
                        <p>Плиний Младший. «Письма»</p>
                        <p>Византийские стихотворные романы</p>
                        <p>Гераклит. «Фрагменты»</p>
                        <p>Августин. «Исповедь»</p>
                        <p>Фома Аквинский. «Summa Theolo qica»</p>
                        <p>Св. Франциск. «Цветочки»</p>
                        <p>Никколо Макиавелли. «Государь»</p>
                        <p>Данте. «Божественная комедия»</p>
                        <p>Франко Сакети. Новеллы</p>
                        <p>Исландские саги</p>
                        <p>Шекспир. «Антоний и Клеопатра», «Гамлет», «Макбет», «Генрих V»</p>
                        <p>Рабле</p>
                        <p>Бэкон</p>
                        <p>Мартин Лютер</p>
                        <p>Кальвин</p>
                        <p>Монтень. «Опыты»</p>
                        <p>Сервантес. «Дон Кихот»</p>
                        <p>Декарт</p>
                        <p>«Песнь о Роланде»</p>
                        <p>«Беовульф»</p>
                        <p>Бенвенуто Челлини</p>
                        <p>Генри Адамс. «Воспитание Генри Адамса»</p>
                        <p>Гоббс. «Левиафан»</p>
                        <p>Паскаль. «Мысли»</p>
                        <p>Мильтон. «Потерянный рай»</p>
                        <p>Джон Донн, Эндрю Марвелл, Джордж Херберт, Ричард Крошоу</p>
                        <p>Спиноза. «Трактаты»</p>
                        <p>Стендаль. «Пармская обитель», «Красное и черное», «Жизнь Анри Брюлара»</p>
                        <p>Свифт. «Путешествие Гулливера»</p>
                        <p>Лоренс Стерн. «Тристрам Шэнди»</p>
                        <p>Шодерло де Лакло. «Опасные связи»</p>
                        <p>Монтескье. «Персидские письма»</p>
                        <p>Локк. «Второй трактат о правительстве»</p>
                        <p>Адам Смит. «Благосостояние наций»</p>
                        <p>Лейбниц</p>
                        <p>Юм</p>
                        <p>Тексты федералистов</p>
                        <p>Кант. «Критика чистого разума»</p>
                        <p>Кьеркегор. «Страх и трепет», «Или-или», «Философские фрагменты»</p>
                        <p>Достоевский. «Записки из подполья», «Бесы»</p>
                        <p>Гете. «Фауст», «Итальянское путешествие»</p>
                        <p>Токвиль. «О демократии в Америке»</p>
                        <p>Де Кюстин. «Путешествие наших дней (Империя царя)»</p>
                        <p>Эрик Ауэрбах. «Мимезис»</p>
                        <p>Прескотт. «Завоевание Мексики»</p>
                        <p>Октавио Пас. «Лабиринты одиночества»</p>
                        <p>Карл Поппер. «Логика научного открытия», «Открытое общество и его враги»</p>
                        <p>Элиас Канетти. «Толпа и власть»</p>
                    </div>
                </div>

                <h3 align="left">Поэзия, рекомендованная к прочтению</h3>

                <div class="poem">
                    <p><span class="italic">Английская/ американская:</span> Роберт Фрост, Томас Харди, Уильям Батлер
                        Йейтс,
                        Томас Стернз Элиот, Уистен Хью Оден, Марианна Мур, Элизабет Бишоп.</p>
                    <p><span class="italic">Немецкая:</span> Райнер Мария Рильке, Георг Тракль, Петер Хухель, Ингеборг
                        Бахман, Готфрид Бенн.</p>
                    <p><span class="italic">Испанская:</span> Антонио Мачадо, Федерико Гарсиа Лорка, Луис Сернуда,
                        Рафаэль
                        Альберти, Хуан Рамон Хименес, Октавио Пас.</p>
                    <p><span class="italic">Польская:</span> Леопольд Стафф, Чеслав Милош, Збигнев Херберт, Вислава
                        Шимборска.</p>
                    <p><span class="italic">Французская:</span> Гийом Аполлинер, Жюль Сюпервьель, Пьер Реверди, Блез
                        Сандрар, Макс Жакоб, Франсис Жамм, Андре Френо, Поль Элюар, Виктор Сегален, Анри Мишо.</p>
                    <p><span class="italic">Греческая:</span> Константин Кавафис, Йоргос Сеферис, Яннис Рицос.</p>
                    <p><span class="italic">Голландская:</span> Мартинус Нейхоф («Аватар»).</p>
                    <p><span class="italic">Португальская:</span> Фернандо Пессоа, Карлос Друммонд де Андрад.</p>
                    <p><span class="italic">Шведская:</span> Гуннар Экелёф, Харри Мартинсон, Вернер Аспенстром, Тумас
                        Транстрёмер.</p>
                    <p><span class="italic">Русская:</span> Марина Цветаева, Осип Мандельштам, Анна Ахматова, Борис
                        Пастернак, Владислав Ходасевич, Виктор Хлебников, Николай Клюев, Николай Заболоцкий.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
