<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Иосиф Бродский</title>
</head>
<body>
<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="index.html">Иосиф Бродский</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="biography.html" class="p-2">Биография</a>
        <a href="poems.html" class="p-2">Произведения</a>
        <a href="list_jb.html" class="p-2">Список Бродского</a>
        <a href="subscription.html">Рассылка</a>
    </nav>
</div>
<main>
    <div class="about-page-section about-page-section--poems">
        <div class="col-md-5 mx-auto text-center">
            <h1 class="about-page-section__title">Произведения</h1>
            <a href="#section" class="btn btn-outline-light about-page-section__button">Узнать больше</a>
        </div>

    </div>
    <span class="glyphicon glyphicon-asterisk" aria-hidden="true" id="section"></span>
    <h4 align="center">Меня упрекали во всем, окромя погоды...</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Меня упрекали во всем, окромя погоды,</p>
        <p class="mb-0">и сам я грозил себе часто суровой мздой.</p>
        <p class="mb-0">Но скоро, как говорят, я сниму погоны</p>
        <p class="mb-5">и стану просто одной звездой.</p>
        <p class="mb-0">Я буду мерцать в проводах лейтенантом неба</p>
        <p class="mb-0">и прятаться в облако, слыша гром,</p>
        <p class="mb-0">не видя, как войско под натиском ширпотреба</p>
        <p class="mb-5">бежит, преследуемо пером.</p>
        <p class="mb-0">Когда вокруг больше нету того, что было,</p>
        <p class="mb-0">не важно, берут вас в кольцо или это - блиц.</p>
        <p class="mb-0">Так школьник, увидев однажды во сне чернила,</p>
        <p class="mb-5">готов к умноженью лучше иных таблиц.</p>
        <p class="mb-0">И если за скорость света не ждешь спасибо,</p>
        <p class="mb-0">то общего, может, небытия броня</p>
        <p class="mb-0">ценит попытки ее превращенья в сито</p>
        <p class="mb-0">и за отверстие поблагодарит меня.</p>
    </blockquote>
    <br>
    <h5 align="center">***</h5>
    <br>
    <h4 align="center">Конец прекрасной эпохи</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Потому что искусство поэзии требует слов,</p>
        <p class="mb-0">я - один из глухих, облысевших, угрюмых послов</p>
        <p class="mb-0">второсортной державы, связавшейся с этой, -</p>
        <p class="mb-0">не желая насиловать собственный мозг,</p>
        <p class="mb-0">сам себе подавая одежду, спускаюсь в киоск</p>
        <p class="mb-5">за вечерней газетой.</p>

        <p class="mb-0">Ветер гонит листву. Старых лампочек тусклый накал</p>
        <p class="mb-0">в этих грустных краях, чей эпиграф - победа зеркал,</p>
        <p class="mb-0">при содействии луж порождает эффект изобилья.</p>
        <p class="mb-0">Даже воры крадут апельсин, амальгаму скребя.</p>
        <p class="mb-0">Впрочем, чувство, с которым глядишь на себя, -</p>
        <p class="mb-5">это чувство забыл я.</p>

        <p class="mb-0">В этих грустных краях все рассчитано на зиму: сны,</p>
        <p class="mb-0">стены тюрем, пальто; туалеты невест - белизны</p>
        <p class="mb-0">новогодней, напитки, секундные стрелки.</p>
        <p class="mb-0">Воробьиные кофты и грязь по числу щелочей;</p>
        <p class="mb-0">пуританские нравы. Белье. И в руках скрипачей -</p>
        <p class="mb-5">деревянные грелки.</p>

        <p class="mb-0">Этот край недвижим. Представляя объем валовой</p>
        <p class="mb-0">чугуна и свинца, обалделой тряхнешь головой,</p>
        <p class="mb-0">вспомнишь прежнюю власть на штыках и казачьих нагайках.</p>
        <p class="mb-0">Но садятся орлы, как магнит, на железную смесь.</p>
        <p class="mb-0">Даже стулья плетеные держатся здесь</p>
        <p class="mb-5">на болтах и на гайках.</p>

        <p class="mb-0">Только рыбы в морях знают цену свободе; но их</p>
        <p class="mb-0">немота вынуждает нас как бы к созданью своих</p>
        <p class="mb-0">этикеток и касс. И пространство торчит прейскурантом.</p>
        <p class="mb-0">Время создано смертью. Нуждаясь в телах и вещах,</p>
        <p class="mb-0">свойства тех и других оно ищет в сырых овощах.</p>
        <p class="mb-5">Кочет внемлет курантам.</p>

        <p class="mb-0">Жить в эпоху свершений, имея возвышенный нрав,</p>
        <p class="mb-0">к сожалению, трудно. Красавице платье задрав,</p>
        <p class="mb-0">видишь то, что искал, а не новые дивные дивы.</p>
        <p class="mb-0">И не то чтобы здесь Лобачевского твердо блюдут,</p>
        <p class="mb-0">но раздвинутый мир должен где-то сужаться, и тут -</p>
        <p class="mb-5">тут конец перспективы.</p>

        <p class="mb-0">То ли карту Европы украли агенты властей,</p>
        <p class="mb-0">то ль пятерка шестых остающихся в мире частей</p>
        <p class="mb-0">чересчур далека. То ли некая добрая фея</p>
        <p class="mb-0">надо мной ворожит, но отсюда бежать не могу.</p>
        <p class="mb-0">Сам себе наливаю кагор - не кричать же слугу -</p>
        <p class="mb-5">да чешу котофея...</p>

        <p class="mb-0">То ли пулю в висок, словно в место ошибки перстом,</p>
        <p class="mb-0">то ли дернуть отсюдова по морю новым Христом.</p>
        <p class="mb-0">Да и как не смешать с пьяных глаз, обалдев от мороза,</p>
        <p class="mb-0">паровоз с кораблем - все равно не сгоришь от стыда:</p>
        <p class="mb-0">как и челн на воде, не оставит на рельсах следа</p>
        <p class="mb-5">колесо паровоза.

        <p class="mb-0">Что же пишут в газетах в разделе "Из зала суда"?</p>
        <p class="mb-0">Приговор приведен в исполненье. Взглянувши сюда,</p>
        <p class="mb-0">обыватель узрит сквозь очки в оловянной оправе,</p>
        <p class="mb-0">как лежит человек вниз лицом у кирпичной стены;</p>
        <p class="mb-0">но не спит. Ибо брезговать кумполом сны</p>
        <p class="mb-5">продырявленным вправе.</p>

        <p class="mb-0">Зоркость этой эпохи корнями вплетается в те</p>
        <p class="mb-0">времена, неспособные в общей своей слепоте</p>
        <p class="mb-0">отличать выпадавших из люлек от выпавших люлек.</p>
        <p class="mb-0">Белоглазая чудь дальше смерти не хочет взглянуть.</p>
        <p class="mb-0">Жалко, блюдец полно, только не с кем стола вертануть,</p>
        <p class="mb-5">чтоб спросить с тебя, Рюрик.</p>

        <p class="mb-0">Зоркость этих времен - это зоркость к вещам тупика.</p>
        <p class="mb-0">Не по древу умом растекаться пристало пока,</p>
        <p class="mb-0">но плевком по стене. И не князя будить - динозавра.</p>
        <p class="mb-0">Для последней строки, эх, не вырвать у птицы пера.</p>
        <p class="mb-0">Неповинной главе всех и дел-то, что ждать топора</p>
        <p class="mb-5">да зеленого лавра.</p>

    </blockquote>
    <br>
    <h5 align="center">***</h5>
    <br>
    <h4 align="center">Не выходи из комнаты, не совершай ошибку...</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Не выходи из комнаты, не совершай ошибку.</p>
        <p class="mb-0">Зачем тебе Солнце, если ты куришь Шипку?</p>
        <p class="mb-0">За дверью бессмысленно все, особенно - возглас счастья.</p>
        <p class="mb-5">Только в уборную - и сразу же возвращайся.</p>

        <p class="mb-0">О, не выходи из комнаты, не вызывай мотора.</p>
        <p class="mb-0">Потому что пространство сделано из коридора</p>
        <p class="mb-0">и кончается счетчиком. А если войдет живая</p>
        <p class="mb-5">милка, пасть разевая, выгони не раздевая.</p>

        <p class="mb-0">Не выходи из комнаты; считай, что тебя продуло.</p>
        <p class="mb-0">Что интересней на свете стены и стула?</p>
        <p class="mb-0">Зачем выходить оттуда, куда вернешься вечером</p>
        <p class="mb-5">таким же, каким ты был, тем более - изувеченным?</p>

        <p class="mb-0">О, не выходи из комнаты. Танцуй, поймав, боссанову</p>
        <p class="mb-0">в пальто на голое тело, в туфлях на босу ногу.</p>
        <p class="mb-0">В прихожей пахнет капустой и мазью лыжной.</p>
        <p class="mb-5">Ты написал много букв; еще одна будет лишней.</p>

        <p class="mb-0">Не выходи из комнаты. О, пускай только комната</p>
        <p class="mb-0">догадывается, как ты выглядишь. И вообще инкогнито</p>
        <p class="mb-0">эрго сум, как заметила форме в сердцах субстанция.</p>
        <p class="mb-5">Не выходи из комнаты! На улице, чай, не Франция.</p>

        <p class="mb-0">Не будь дураком! Будь тем, чем другие не были.</p>
        <p class="mb-0">Не выходи из комнаты! То есть дай волю мебели,</p>
        <p class="mb-0">слейся лицом с обоями. Запрись и забаррикадируйся</p>
        <p class="mb-5">шкафом от хроноса, космоса, эроса, расы, вируса.</p>
    </blockquote>
    <br>
    <h5 align="center">***</h5>
    <br>
    <h4 align="center">Одиночество</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Когда теряет равновесие</p>
        <p class="mb-0">твоё сознание усталое,</p>
        <p class="mb-0">когда ступеньки этой лестницы</p>
        <p class="mb-0">уходят из под ног,</p>
        <p class="mb-0">как палуба,</p>
        <p class="mb-0">когда плюёт на человечество</p>
        <p class="mb-0">твоё ночное одиночество, -</p>
        <p class="mb-0">ты можешь</p>
        <p class="mb-0">размышлять о вечности</p>
        <p class="mb-0">и сомневаться в непорочности</p>
        <p class="mb-0">идей, гипотез, восприятия</p>
        <p class="mb-0">произведения искусства,</p>
        <p class="mb-0">и - кстати - самого зачатия</p>
        <p class="mb-0">Мадонной сына Иисуса.</p>
        <p class="mb-0">Но лучше поклоняться данности</p>
        <p class="mb-0">с глубокими её могилами,</p>
        <p class="mb-0">которые потом,</p>
        <p class="mb-0">за давностью,</p>
        <p class="mb-5">покажутся такими милыми.</p>


        <p class="mb-0">Да.</p>
        <p class="mb-0">Лучше поклоняться данности</p>
        <p class="mb-0">с короткими её дорогами,</p>
        <p class="mb-0">которые потом</p>
        <p class="mb-0">до странности</p>
        <p class="mb-0">покажутся тебе</p>
        <p class="mb-0">широкими,</p>
        <p class="mb-0">покажутся большими,</p>
        <p class="mb-0">пыльными,</p>
        <p class="mb-0">усеянными компромиссами,</p>
        <p class="mb-0">покажутся большими крыльями,</p>
        <p class="mb-5">покажутся большими птицами.</p>

        <p class="mb-0">Да. Лучше поклонятся данности</p>
        <p class="mb-0">с убогими её мерилами,</p>
        <p class="mb-0">которые потом до крайности,</p>
        <p class="mb-0">послужат для тебя перилами</p>
        <p class="mb-0">(хотя и не особо чистыми),</p>
        <p class="mb-0">удерживающими в равновесии</p>
        <p class="mb-0">твои хромающие истины</p>
        <p class="mb-5">на этой выщербленной лестнице.</p>
    </blockquote>
    <br>
    <h5 align="center">***</h5>
    <br>
    <h4 align="center">Я не то что схожу с ума...</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Я не то что схожу с ума, но устал за лето.</p>
        <p class="mb-0">За рубашкой в комод полезешь, и день потерян.</p>
        <p class="mb-0">Поскорей бы, что ли, пришла зима и занесла всё это -</p>
        <p class="mb-0">города, человеков, но для начала зелень.</p>
        <p class="mb-0">Стану спать не раздевшись или читать с любого</p>
        <p class="mb-0">места чужую книгу, покамест остатки года,</p>
        <p class="mb-0">переходят в положенном месте асфальт.</p>
        <p class="mb-0">Свобода -</p>
        <p class="mb-0">это когда забываешь отчество у тирана,</p>
        <p class="mb-0">а слюна во рту слаще халвы Шираза,</p>
        <p class="mb-0">и, хотя твой мозг перекручен, как рог барана,</p>
        <p class="mb-0">ничего не каплет из голубого глаза.</p>
    </blockquote>
    <br>
    <h5 align="center">***</h5>
    <br>
    <h4 align="center">Пилигримы</h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Мимо ристалищ, капищ,</p>
        <p class="mb-0">мимо храмов и баров,</p>
        <p class="mb-0">мимо шикарных кладбищ,</p>
        <p class="mb-0">мимо больших базаров,</p>
        <p class="mb-0">мира и горя мимо,</p>
        <p class="mb-0">мимо Мекки и Рима,</p>
        <p class="mb-0">синим солнцем палимы,</p>
        <p class="mb-0">идут по земле пилигримы.</p>
        <p class="mb-0">Увечны они, горбаты,</p>
        <p class="mb-0">голодны, полуодеты,</p>
        <p class="mb-0">глаза их полны заката,</p>
        <p class="mb-0">сердца их полны рассвета.</p>
        <p class="mb-0">За ними поют пустыни,</p>
        <p class="mb-0">вспыхивают зарницы,</p>
        <p class="mb-0">звезды горят над ними,</p>
        <p class="mb-0">и хрипло кричат им птицы:</p>
        <p class="mb-0">что мир останется прежним,</p>
        <p class="mb-0">да, останется прежним,</p>
        <p class="mb-0">ослепительно снежным,</p>
        <p class="mb-0">и сомнительно нежным,</p>
        <p class="mb-0">мир останется лживым,</p>
        <p class="mb-0">мир останется вечным,</p>
        <p class="mb-0">может быть, постижимым,</p>
        <p class="mb-0">но все-таки бесконечным.</p>
        <p class="mb-0">И, значит, не будет толка</p>
        <p class="mb-0">от веры в себя да в Бога.</p>
        <p class="mb-0">...И, значит, остались только</p>
        <p class="mb-0">иллюзия и дорога.</p>
        <p class="mb-0">И быть над землей закатам,</p>
        <p class="mb-0">и быть над землей рассветам.</p>
        <p class="mb-0">Удобрить ее солдатам.</p>
        <p class="mb-0">Одобрить её поэтам.</p>
    </blockquote>
</main>
</body>
</html>
