<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Иосиф Бродский</title>
</head>
<body class="subscript">
<div class="container">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <a href="https://www.instagram.com/brodsky_j/"><img src="../img/inst.png" alt="instagram" class="social_networks"></a>
    <a href="https://ru-ru.facebook.com/BrodskyJoseph/"><img src="../img/facebook.png" alt="facebook" class="social_networks"></a>
    <a href="https://twitter.com/brodsky_joseph"><img src="../img/twitter.png" alt="twitter" class="social_networks"></a>
</div>

</body>
</html>