<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Иосиф Бродский</title>
</head>
<body>
<main>
    <div class="container">
        <div class="subscriptions">
            <h1 class="subscriptions__title">Рассылка</h1>
            <h1 class="subscriptions__title subscriptions__title--success">Подписка успешно оформлена!</h1>
            <form class="subscriptions__container subscriptions__container--subscriptions">
                <input class="form-control btn-outline-dark subscriptions__input" type="email" id="inputEmail"
                       placeholder="Email адрес" required="" autofocus="">
                <button type="submit" class="btn btn-outline-dark subscriptions__button">Получить</button>
            </form>
            <div class="subscriptions__container subscriptions__container--social-links">
                <a class="subscriptions__social_link" href="https://www.instagram.com/brodsky_j/">
                    <img src="../img/inst.png" alt="instagram">
                </a>
                <a class="subscriptions__social_link" href="https://ru-ru.facebook.com/BrodskyJoseph/">
                    <img src="../img/facebook.png" alt="facebook">
                </a>
                <a class="subscriptions__social_link" href="https://twitter.com/brodsky_joseph">
                    <img src="../img/twitter.png" alt="twitter">
                </a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
